body{
    padding: 0;
    margin: 0;
}

.header-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    justify-content: space-between;
}

.h-logo{
    width: 25%;
    display: flex;
    background-color: #fff;
    /* margin 10px is ok? */
    margin: 10px;


}

.h-logo img{
    width: 80px;

}

.h-logo h3{
    padding-left: 10px;
    font-family: 'Patrick Hand', cursive;
    font-size:20px;
}

.search-container{
    width: 50%;
    padding: 20px;
    padding-left: 60%;
    display: flex;
    flex-direction: row;
    background-color: #fff;

}

.search-container button{
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;

}

.search-container button:hover {
    background: #ff9f1c;
}

.search-container input[type=text] {
    /* the size of the search input? */
    width: 50%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;

}
.search-container input[type=text] {
    border: 1px solid #ccc;
}



.reg-button{
    width: 25%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color:#aaaaaa ;
    font-size: 50px;
    border: none;
    margin: 15px;
}