<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <title>Asian-Love-Recipes</title>
</head>
<body>
<div class="header-wrap">
    <header>
        <div class="logo-wrap">
            <a th:href="@{/index}"><img src="images/cooking-pot.png"/></a>
            <div class="pot-logo"> HAPPY POT</div>
        </div>

        <div class="search-wrap">
            <form action="">
                <input type="text" class="search-bar" placeholder="z.B. Pfankuchen, Lasagne"/>
                <button class="search-button" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <div class="register-wrap">
            <form action="/signin"></form>
            <button type="submit" class="reg-button">
                <i class="fas fa-user"></i>
            </button>
            </form>
        </div>
    </header>
    <div class="navbar">
        <a href="#">Recipes</a>
        <a href="#">Community</a>
        <a href="#">Videos</a>
        <a href="#"><span class="navbar-icon">
                <img src="images/favourite.png"/>
                </span> Cookbook</a>

    </div>
</div>

<div class="container">
    <div class="heading-tag">
        <h1 class="title-main">Asian love recipes</h1>
    </div>
    <div class="recipes-wrap-row">
        <div th:each="doctor: ${allDoctors}" class="recipe-info">
            <form th:action="@{/showDoctorInquiry}">

                <img th:src="${doctor.imageURL}" class="doc-img">
                <br>
                <span th:text="${doctor.name}" class="doc-name"></span>
                <br>
                <span th:text="${'Specialty: '+ doctor.specialty}" class="doc-specialty"></span>
                <br>
                <span th:text="${'Clinic: '+ doctor.clinicName}" class="doc-clinic"></span>
                <br>

                <!--IT HIDES THE NAME FROM THE VIEW BUT IT WILL TRANSFER TO CONTROLLER -->
                <input type="hidden" name="doctor-name" th:value="${doctor.name}">
                <input class="search-doc" type="submit" value="Contact">
            </form>
        </div>
    </div>



</div>
</body>
</html>