<!DOCTYPE html>
<html lang="en">
<!--adding Technical template to our html aka
thymeleaf to make dynamic ***always has to be here***-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <title>Cooking Guide App</title>
</head>
<body>
<header class="header-container">
    <div class="h-logo">
        <img th:src="@{images/cooking-pot.png}">
        <h3>HAPPYPOT</h3>
    </div>
    <!-- add form wrap -->
    <div class="search-container">
        <form action="/home">
            <input type="text" placeholder="ex. carrot, chicken, ..." name="search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <div>
        <form action="/signin"></form>
        <button type="submit" class="reg-button">
            <i class="fas fa-user"></i>
        </button>
        </form>
    </div>


</header>


<!--class is like an ID-->
<div class="container">


</div>
<footer>

</footer>

</body>
</html>