<!DOCTYPE html>
<html lang="en">
<!--adding Technical template to our html aka
thymeleaf to make dynamic ***always has to be here***-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <title>Cooking Guide App</title>
</head>

<body>
<div class="header-wrap">
    <header>
        <div class="logo-wrap">
            <img src="images/cooking-pot.png"/>
            <div class="pot-logo"> HAPPY POT</div>
        </div>

        <div class="search-wrap">
            <form action="">
                <input type="text" class="search-bar" placeholder="z.B. Pfankuchen, Lasagne"/>
                <button class="search-button" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <div class="register-wrap">
            <form action="/signin"></form>
            <button type="submit" class="reg-button">
                <i class="fas fa-user"></i>
            </button>
            </form>
        </div>
    </header>
    <div class="navbar">
        <a href="#">Recipes</a>
        <a href="#">Community</a>
        <a href="#">Videos</a>
        <a href="#"><span class="navbar-icon">
                <img src="images/favourite.png"/>
                </span> Cookbook</a>

    </div>
</div>

<div class="container">
    <div>
        <a><img th:src="@{images/food-ingredient.jpg}" class="food-ing-img"></a>
        <br>
        <span class="container-title">Quick, easy, delicious recipes</span>
    </div>


</div>
<footer th:replace="fragments/footer :: footer">

</footer>

</body>
</html>