<!DOCTYPE html>
<html lang="en">
<!--adding Technical template to our html aka
thymeleaf to make dynamic ***always has to be here***-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <title>Cooking Guide App</title>
</head>

<body onload="addColorClassDynamically();">

<div th:replace="fragments/navbar::nav"></div>

<div class="user-container">
    <div class="user-page-row">
        <img th:src="${user.imagePath}">
        <div class="user-info">
            <div th:text="${user.fullName}"></div>
            <div th:text="'Recipes: ' +${user.recipeCount}"></div>
            <div class="badge badge-userPage" th:text="${user.badge}"></div>

        </div>
    </div>
    <div class="user-recipe-wrap">
        <div th:each="recipe : ${user.recipes}">
            <a class="recipe-link" th:href="@{/getRecipeById/{id}(id = ${recipe.id})}" th:text="${recipe.name}"></a>

        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer">

</footer>

<script>
    function addColorClassDynamically() {
        var items = document.getElementsByClassName("badge");
        for (var i = 0; i < items.length; i++) {
            var itemText = items[i].innerHTML;
            if (itemText == "Newbie") {
                items[i].classList.add("newbie");
            }
            if (itemText == "Intermediate") {
                items[i].classList.add("intermediate");
            }
            if (itemText == "Advanced") {
                items[i].classList.add("advanced");
            }
        }
    }
</script>

</body>
</html>