<!DOCTYPE html>
<html lang="en">
<!--adding Technical template to our html aka
thymeleaf to make dynamic ***always has to be here***-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <title>Cooking Guide App</title>
</head>

<body>

<div th:replace="fragments/navbar::nav"></div>

<div class="user-container">
    <div class="user-page-row">
        <img th:src="${user.imagePath}">
        <div class="user-info">
            <div th:text="${user.fullName}"></div>
            <div th:text="'Recipes: ' +${user.recipeCount}"></div>
            <div th:text="${user.badge}"></div>

        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer">

</footer>

</body>
</html>